.hat
{
    width: 125px;
    height: 25px;
    background-color: red;
    position: relative;
    left: 50px;
}

.hat2
{
    width: 225px;
    height: 25px;
    background-color: red;
    position: relative;
    left: 25px;
}

.head
{
    width: 250px;
    height: 125px;
    background-color: tan;
}

.hair
{
    width: 75px;
    height: 25px;
    background-color: brown;
    position: relative;
    left: 25px;
}

.hair2
{
    width: 25px;
    height: 75px;
    background-color: brown;
}

.hair3
{
    width: 25px;
    height: 25px;
    background-color: brown;
    position: relative;
    bottom: 25px;
    left: 25px;
}

.hair4
{
    width: 25px;
    height: 50px;
    background-color: brown;
    position: relative;
    bottom: 100px;
    left: 50px;
}

.hair5
{
    width: 25px;
    height: 25px;
    background-color: brown;
    position: relative;
    left: 75px;
    bottom: 125px;
}

.eye
{
    width: 25px;
    height: 50px;
    background-color: black;
    position: relative;
    left: 150px;
    bottom: 200px;
}

.mustache
{
    width: 25px;
    height: 25px;
    background-color: black;
    position: relative;
    left: 175px;
    bottom: 200px;
}

.mouth
{
    width: 100px;
    height: 25px;
    background-color: black;
    position: relative;
    left: 150px;
    bottom: 200px;
}

.eraser
{
    width: 25px;
    height: 25px;
    background-color: white;
    position: relative;
    bottom: 300px;
}

.eraser2
{
    width: 50px;
    height: 25px;
    background-color: white;
    position: relative;
    bottom: 325px;
    left: 200px;
}

.eraser3
{
    width: 50px;
    height: 25px;
    background-color: white;
    position: relative;
    bottom: 250px;
}

.eraser4
{
    width: 25px;
    height: 25px;
    background-color: white;
    position: relative;
    bottom: 275px;
    left: 225px;
}

.coin
{
    width: 50px;
    height: 75px;
    border: solid 2px black;
    background-color: yellow;
    border-radius: 50px;
}

.slot
{
  width: 2px;
  height: 50px;
  background-color: black;
  position: relative;
  top: 12px;
  left: 22px;  
}

.coin2
{
    width: 50px;
    height: 75px;
    border: solid 2px black;
    background-color: yellow;
    border-radius: 50px;
    position: relative;
    left: 80px;
    bottom: 77px;
}

.coin3
{
    width: 50px;
    height: 75px;
    border: solid 2px black;
    background-color: yellow;
    border-radius: 50px;
    position: relative;
    left: 160px;
    bottom: 155px;
}